#header{
    background-color: rgb(94, 177, 47);
    height: 80px;
    align-items: center;
}

#body{
    background-color: wheat;
    height: 450px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#footer{
    background-color: rgb(94, 177, 47);
    height: 80px;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    justify-content: space-around;
}

#img{
    position: relative;
    height: 100px;
    width: 150px;
    border: 2px whitesmoke;
    border-radius: 50px;
    margin: 0px 600px 0px 600px;
}

button{
    margin: 25px;
    border-radius: 5px;
    background-color: wheat;
    color: black;
}

fieldset{
    border: 5px solid rgb(105, 29, 29);
    height: 250px;
    width: 200px;
    border-style: dashed;
}

#div2{
    display: flex;
    flex-direction: column-reverse;
}

#don{
    /* height: 60px;
    width: 120px; */
    margin: auto;
    position: relative;
    top:10px;
}

button:hover{
    background-color: white;
    color: rgb(255, 255, 255);
}